.teks-putih {color: white;}
.teks-hitam {color: black;}
.lebar96 {width: 96%;}
.lebar94 {width: 94%;}
.kiri2 {margin-left: 2%;}
.kiri3 {margin-left: 3%;}
.kanan2 {margin-right: 2%;}
.kanan3 {margin-right: 3%;}
.radius20 {border-radius: 20px;}
.font14 {font-size: 14px;}
.font17 {font-size: 17px;}
.font25 {font-size: 25px;}
.font40 {font-size: 40px;}
.tanpa-border {border-width: 0px;}
.rata-tengah {text-align: center;}